/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:'Roboto';
    background-color: #F6F8F9;
}
/* header */
.logo{
    vertical-align: middle;
    background-color: white;
}
h1{
    vertical-align: middle;
    display: inline-block;
}
header{
    padding:10px 20px;
    background-color: white;
    margin-bottom: 40px;
}
/* main */
.container{
    margin: auto;
    max-width: 800px;
    background-color: white;
    border-radius: 4px;
}
/* bottoni */
.bottoni{
    padding: 15px 30px;
    border-bottom: 2px solid #F6F8F9;
}
button{
    border: none;
    height: 30px;      
    border-radius: 5px;  
    padding: 8px 10px;
    cursor: pointer;
    font-family: inherit;
}
.btn-primary{
    background-color:#47adf1;
    width: 80px;
    color: white;
    vertical-align: middle;
}
.btn-secondary{
    width: 100px;
    border: 1px solid grey;
    background-color: transparent; 
    vertical-align: middle;  
}

/* sezioni */
.sezioni{
    margin: 40px;    
}
.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border : 1px solid green;
    text-align: center;
    display: inline-block;
    color: green;
    vertical-align: middle;
    line-height: 20px;
}
.cross{
    border-color: red;
    color: red;
}
span{  
    color: #444851;  
    vertical-align: middle;
}
.tag{
    font-weight: 300;
    padding: 5px;
    background-color: #45ABEA;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    color: white;   
}
.viola{
    background-color:  #9C72E4;
}
.verde{
    background-color: #64C0A9 ;
}
.arancio{
    background-color: #F29E33 ;
}
.fuxia{
    background-color: #D863A1 ;
}
.lime{
    background-color: #B0C926 ;
}
.riga{
    margin: 20px;
}