/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:'Roboto';
    background-color: #F6F8F9;
}
/* header */
.logo{
    vertical-align: middle;
    background-color: white;
}
h1{
    vertical-align: middle;
    display: inline-block;
}
header{
    padding:10px 20px;
    background-color: white;
    margin-bottom: 40px;
}

